#!/usr/bin/make -f

export GEM2DEB_TEST_RUNNER = --check-dependencies
export DH_RUBY = --gem-install

# Set UTF-8 locale
export LC_ALL = C.UTF-8
export LANG = C.UTF-8

%:
	dh $@ --buildsystem=ruby --with ruby
